<p id="notice"><%= notice %></p>

<%= render :partial => 'search' %>

<!-- ***** Single Listing Area Start ***** -->
<section class="dorne-single-listing-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Listing Content -->
            <div class="col-12">
                <div class="single-listing-content">
                    <div class="listing-title">
                        <div class="row">
                            <div class="col-8">
                                <h1><%= @company.name %></h1>
                            </div>
                            <div class="col-4">
                                <h5><span class="font-weight-light">ISIN:</span> <%= @company.isin %></h5>
                                <h5><span class="font-weight-light">CUSIP:</span> <%= @company.cusip %></h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <h3><%= @company.sector %> - <%= @company.country %></h3>
                            </div>
                        </div>
                    </div>

                    <!-- CARBON BETA -->                    
                    <div class="row">
                        <div class="col-8 text-uppercase">
                            <h5>carbon beta</h5>
                            <% if (@company_data.carbon_beta.round(2) * - 1).between?(-4, -2) %>
                                <div class="carbon-beta-box very-brown"></div>
                                <h2><%= @company_data.carbon_beta.round(2) * - 1 %></h2>
                            <% elsif (@company_data.carbon_beta.round(2) * - 1).between?(-2, 0) %>
                                <div class="carbon-beta-box brown"></div>
                                <h2><%= @company_data.carbon_beta.round(2) * - 1 %></h2>
                            <% elsif (@company_data.carbon_beta.round(2) * - 1).between?(0, 2) %>
                                <div class="carbon-beta-box green"></div>
                                <h2><%= @company_data.carbon_beta.round(2) * - 1 %></h2>
                            <% elsif (@company_data.carbon_beta.round(2) * - 1).between?(2, 4) %>
                                <div class="carbon-beta-box very-green"></div>
                                <h2><%= @company_data.carbon_beta.round(2) * - 1 %></h2>
                            <% else %>
                                <h2 class=""><%= @company_data.carbon_beta.round(2) * - 1 %></h2>
                            <% end %>                 
                            
                        </div>
                        <div class="col-4">                            
                            <h5><span class="text-uppercase font-weight-light">Date:</span> March 31, 2019</h5>   
                        </div>
                    </div> 
                    
                      <!-- BULLET CHART -->                        
                    <div class="row">
                        <div class="col-12">
                            <div id="bullet-chart"></div>
                        </div>                            
                    </div>     
                    
                    <!-- CARBON PERFORMANCE -->                        
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-uppercase">carbon performance</h5>
                        </div>                                                         
                    </div>

                    <!-- CARBON PERFORMANCE CHARTS -->                        
                    <div class="row">
                            <table class="table">
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>                                    
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Industry</th>
                                <td id="bullet-chart-1"></td>                                    
                              </tr>
                              <tr>
                                <th scope="row">Country</th>
                                <td id="bullet-chart-2"></td>                                   
                              </tr>
                              <tr>
                                <th scope="row">International</th>
                                <td id="bullet-chart-3"></td>                                   
                              </tr>
                            </tbody>
                          </table>                                                                                   
                    </div>

                </div>
            </div>

            
        </div>
    </div>
</section>
<!-- ***** Single Listing Area End ***** -->

<!-- CARBON BETA TOP -->
<script>

var margin = {top: 5, right: 20, bottom: 20, left: 10},
    width = 550 - margin.left - margin.right,
    height = 60 - margin.top - margin.bottom;

var chart = d3.bullet()
    .width(width)
    .height(height);

var carbonbeta =  
[
    {"title":"","subtitle":"","ranges":[1,2,3,4],"measures":[<%= (((@company_data.carbon_beta * -1) + 4) / 2).round(3) %>],"markers":[0]}                  
];       



var svg = d3.select("#bullet-chart").selectAll("svg")
    .data(carbonbeta)
    .enter().append("svg")
    .attr("class", "bullet")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    .call(chart);

var title = svg.append("g")
    .style("text-anchor", "end")
    .attr("transform", "translate(-6," + height / 2 + ")");

title.append("text")
    .attr("class", "title")
    .text(function(d) { return d.title; });

title.append("text")
    .attr("class", "subtitle")
    .attr("dy", "1em")
    .text(function(d) { return d.subtitle; });    

</script>

<!-- CARBON BETA SECTOR -->
<script>
var margin_1 = {top: 5, right: 150, bottom: 20, left: 10},
    width_1 = 700 - margin_1.left - margin_1.right,
    height_1 = 60 - margin_1.top - margin_1.bottom;

var chart_1 = d3.bullet()
    .width(width_1)
    .height(height_1);

var carbonbeta_1 =  
[
    {"title":"Industry","subtitle":"","ranges":[1,2,3,4],"measures":[<%= (((@company_data.carbon_beta * -1) + 4) / 2).round(3) %>],"markers":[<%= (((@sector_average * -1) + 4) / 2).round(3) %>]}                              
];       



var svg_1 = d3.select("#bullet-chart-1").selectAll("svg")
    .data(carbonbeta_1)
    .enter().append("svg")
    .attr("class", "bullet")
    .attr("width", width_1 + margin_1.left + margin_1.right)
    .attr("height", height_1 + margin_1.top + margin_1.bottom)
    .append("g")
    .attr("transform", "translate(" + margin_1.left + "," + margin_1.top + ")")
    .call(chart_1);

var title_1 = svg_1.append("g")
    .style("text-anchor", "end")
    .attr("transform", "translate(-6," + height_1 / 2 + ")");

title_1.append("text")
    .attr("class", "title")
    .text(function(d) { return d.title_1; });

title.append("text")
    .attr("class", "subtitle")
    .attr("dy", "1em")
    .text(function(d) { return d.subtitle_1; });   

</script>

<!-- CARBON BETA COUNTRY -->
<script>
var margin_2 = {top: 5, right: 150, bottom: 20, left: 10},
    width_2 = 700 - margin_2.left - margin_2.right,
    height_2 = 60 - margin_2.top - margin_2.bottom;

var chart_2 = d3.bullet()
    .width(width_2)
    .height(height_2);

var carbonbeta_2 =  
[
    {"title":"Industry","subtitle":"","ranges":[1,2,3,4],"measures":[<%= (((@company_data.carbon_beta * -1) + 4) / 2).round(3) %>],"markers":[<%= (((@country_average * -1) + 4) / 2).round(3) %>]}                              
];       



var svg_2 = d3.select("#bullet-chart-2").selectAll("svg")
    .data(carbonbeta_2)
    .enter().append("svg")
    .attr("class", "bullet")
    .attr("width", width_2 + margin_2.left + margin_2.right)
    .attr("height", height_2 + margin_2.top + margin_2.bottom)
    .append("g")
    .attr("transform", "translate(" + margin_2.left + "," + margin_2.top + ")")
    .call(chart_2);

var title_2 = svg_2.append("g")
    .style("text-anchor", "end")
    .attr("transform", "translate(-6," + height_2 / 2 + ")");

title_2.append("text")
    .attr("class", "title")
    .text(function(d) { return d.title_2; });

title.append("text")
    .attr("class", "subtitle")
    .attr("dy", "1em")
    .text(function(d) { return d.subtitle_2; });   

</script>

<!-- CARBON BETA INTERNATIOAL -->        
<script>
var margin_3 = {top: 5, right: 150, bottom: 20, left: 10},
    width_3 = 700 - margin_3.left - margin_3.right,
    height_3 = 60 - margin_3.top - margin_3.bottom;

var chart_3 = d3.bullet()
    .width(width_3)
    .height(height_3);

var carbonbeta_3 =  
[
    {"title":"Industry","subtitle":"","ranges":[1,2,3,4],"measures":[<%= (((@company_data.carbon_beta * -1) + 4) / 2).round(3) %>],"markers":[<%= (((@international_average * -1)  + 4) / 2).round(3) %>]}                            
];       



var svg_3 = d3.select("#bullet-chart-3").selectAll("svg")
    .data(carbonbeta_3)
    .enter().append("svg")
    .attr("class", "bullet")
    .attr("width", width_3 + margin_3.left + margin_3.right)
    .attr("height", height_3 + margin_3.top + margin_3.bottom)
    .append("g")
    .attr("transform", "translate(" + margin_3.left + "," + margin_3.top + ")")
    .call(chart_3);

var title_3 = svg_3.append("g")
    .style("text-anchor", "end")
    .attr("transform", "translate(-6," + height_3 / 2 + ")");

title_3.append("text")
    .attr("class", "title")
    .text(function(d) { return d.title_3; });

title.append("text")
    .attr("class", "subtitle")
    .attr("dy", "1em")
    .text(function(d) { return d.subtitle_3; });   

</script>

<script>
$( document ).ready(function() {
    bullets = ["bullet-chart", "bullet-chart-1", "bullet-chart-2", "bullet-chart-3"]
    for (x = 0; x < bullets.length; x++){
        for (i = 0; i < 5; i++){
            array = [-4,-2,0,2,4]
            document.getElementById(bullets[x]).getElementsByClassName("tick")[i].getElementsByTagName("text")[0].innerHTML = array[i];
        }
    }
    document.getElementsByClassName("marker")[0].style = "display:none;"
});

</script>



