 <!-- ****** Footer Area Start ****** -->
<footer class="dorne-footer-area">
    <div class="container-fluid">
        <div class="row">
            <div class="contact-form center">
                <div class="contact-form-title">
                    <h6>Get in touch</h6>
                </div>
                
                <div class="col contact-success">
                    <div class="alert alert-success" role="alert">
                        Thanks for reaching out! We will get back to you soon!
                    </div>    
                </div>

                <div class="col contact-failure">
                    <div class="alert alert-danger" role="alert">
                        Please fill in all the required fields!
                    </div>    
                </div>
                
                <!-- Contact Form -->  
                <%= form_for @contact, url: contacts_path, remote: true do |f| %>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <%= f.text_field :name, class: 'form-control', placeholder: 'name' %>
                        </div>
                        
                        <div class="col-12 col-md-6">
                            <%= f.text_field :email, class: 'form-control', placeholder: 'email' %>
                        </div>

                        <div class="col-12">
                            <%= f.text_field :subject, class: 'form-control', placeholder: 'subject' %>
                        </div>

                        <div class="col-12">
                            <%= f.text_area :message, class: 'form-control', placeholder: 'message', cols: 30, rows: 10 %>
                        </div>

                        <div class="col-12 col-md-6">
                            <%= f.submit "Send", class: 'btn dorne-btn' %>
                        </div>
                    </div>
                <% end %>  
                       
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-md-flex align-items-center justify-content-between">
                <div class="footer-text">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright 2019 &copy; All rights reserved
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                <div class="footer-social-btns">                       
                    <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142112223-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142112223-1');
</script>

<!-- ****** Footer Area End ****** -->