<!DOCTYPE html>
<html>
  <head>
    <title>GreenBeta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>   
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>   

    <section class="dorne-welcome-area bg-overlay bg-img devise-form">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col col-lg-4 faq-content">
            <!-- Before yield -->
            
              <%= yield %>
            
            <!-- After yield --> 
          </div>
        </div> <!-- Row -->
      </div> <!-- Container -->
    </section>

  </body>
</html>