<!DOCTYPE html>
<html>
  <head>
    <title>GreenBeta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'single_company', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>    

    <%= render :partial => '/layouts/menu' %>
    <div class="breadcumb-area height-500 bg-img bg-overlay"></div>
    <!-- Before yield -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- After yield --> 

    <%= render :partial => '/layouts/footer' %>  
 
</body>